[submodule "frontend"]
    path = frontend
    url = https://github.com/your-username/note-app-fe.git
[submodule "backend"]
    path = backend
    url = https://github.com/your-username/note-app-be.git
